 .u-section-1 {
  min-height: 850px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 856px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 1843px;
  height: 687px;
  margin: 159px auto 0 -49px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 6rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: -434px auto 0 52px;
}

.u-section-1 .u-form-1 {
  height: 261px;
  margin: -31px 18px 0 40px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: Poppins;
  font-size: 1.5rem;
}

.u-section-1 .u-image-2 {
  min-height: 656px;
  background-image: url("../../images/colortherichathu.png");
  background-position: 50% 34.7%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 735px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 741px;
  }

  .u-section-1 .u-image-1 {
    width: 1040px;
    height: 303px;
    margin-top: 413px;
    margin-right: -610px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -452px;
    margin-right: 13px;
  }

  .u-section-1 .u-form-1 {
    width: 388px;
    margin-top: 23px;
    margin-right: 6px;
    margin-left: 36px;
  }

  .u-section-1 .u-image-2 {
    background-position: 0% 16.59%;
    min-height: 541px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 846px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 850px;
  }

  .u-section-1 .u-image-1 {
    width: 820px;
    height: 673px;
    margin-top: 147px;
    margin-right: -482px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -323px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-form-1 {
    width: 297px;
    margin-top: -29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 650px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 626px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 626px;
  }

  .u-section-1 .u-image-1 {
    width: 1000px;
    height: 692px;
    margin-top: 128px;
    margin-right: -360px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -813px;
    margin-right: auto;
    margin-left: 163px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 361px;
    margin-right: 180px;
    margin-left: 163px;
  }

  .u-section-1 .u-image-2 {
    min-height: 836px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 629px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-1 .u-image-1 {
    height: 422px;
    width: 679px;
    margin-top: 208px;
    margin-right: -239px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -391px;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: -33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 726px;
  }
}